<!DOCTYPE html>
<html>

<head>
 <html lang="ja">
 <meta charset="UTF-8">
 <title>MEISI</title>
 <link rel="stylesheet" href="stylesheet.css">
 <link rel="stylesheet" href="sns_link.css">
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
 <meta name="viewport" content="width=device-width,initial-scale=1.0">
</head>


<body>

<header>
  <img src="img/FMT.png" height="90">
  <!-- <h1>MEISHI</h1> -->
</header>

<main>

  <div class="content">
    <!-- <h4 class="text-40 animated">Name</h4>
    <p class="text-30 animated">nnnnnnnnnnnnnn</p> -->
    <div class="generate"></div>

    <div class="row main-content-inner">
      <div class="iroiro col-sm-3" id="faceIcon">
        <img class="img-thumbnail" src="img\ape.jpg" height="300" width="300">
        <p>GORIRA</p>
      </div>

      <div class="iroiro col-sm-8 offset-sm-1" id="profile">
        <p>
          2018年に入って、90年代を連想させるスタイルが人気となっています。そんなレトロデザインで特に注目を集めているのが、
          「グラデーション（英: Gradients）」です。
          さかのぼること数十年前から使用されているグラデーションは、デザインに配色や奥行き感を演出する、一般的に人気の方法でした。
        </p>
      </div>

      <!-- <div class="iroiro col-sm-4 offset-sm-1">
        <p>GORIRA</p>
      </div> -->

      <div class="iroiro col-sm-8 offset-sm-4" id="snsLink">
        <ul class="follow-me">
          <li><a href="https://twitter.com"></a></li>
          <li><a href="https://www.facebook.com"></a></li>
          <li><a href="https://plus.google.com"></a></li>
          <li><a href="https://www.tumblr.com"></a></li>
          <li><a href="https://getpocket.com"></a></li>
          <li><a href="https://vine.co"></a></li>
          <li><a href="https://www.youtube.com"></a></li>
          <li><a href="/feed"></a></li>
        </ul>
      </div>

    </div>
  </div>

</main>

<footer>
  <p>&copy;Copyright Advancing. All rights reserved.</p>
</footer>

</body>

</html>
